* {
margin: 0;
}

header {
  /* background-color: #00ced1; */
  background: linear-gradient(#00ced1, #3377f3);
  /* background: url(https://i.ytimg.com/vi/nP-RAnz2atk/maxresdefault.jpg); */
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

#red {
  border-radius: 0%;
  height: 70px;
  width: 70px;
  box-shadow: 2px 2px 2px black;
  margin-top: 15px;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px black;
    color: #dc143c;
}

#name {
  font-size: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  background-size: contain;
  margin-left: 35px;
  margin-right: 35px;
  padding: 5px 25px 0px 25px;
}

#name:hover {
  transform: scale(1.2);
  transition: 1s;
}

#profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: auto;
  border-radius: 50%;
}

img:hover {
  transform: scale(1.2);
  transition: all 1s ease-in-out;
  }

.main {
  font-size: 20px;
  padding: 0px 80px 50px 200px;
}

.sidenav {
  background-color: #40E0D0;
  font-size: 17px;
  /* height: 50%; */
  width: 140px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 11px;
  position: fixed;
  margin-left: 20px;
}

ul {
    font-family: cursive;
}

.fantasy {
font-family: fantasy;
}

footer {
  /* background-color: #00ced1; */
  background: linear-gradient(#00ced1, #3377f3);
  text-align: center;
  color: #000;
  font-size: 20px;
  text-shadow: 1px 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a:hover {
  color: tomato;
}

span:hover {
  color: purple;
}

.button {
  font-size: 20px;
  padding: 8px 12px;
  box-shadow: 2px 2px black;
}

button:hover {
  background-color: #dcdcdc;
}

button:active {
  background: #aaaae5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
}
